<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/error404Style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Playpalooza</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="../assets/img/playpaloozalogoanimated.gif" alt="Playpalooza" width="86" height="86"
          class="rounded-circle">
      </a>
      <a class="tituloPagina navbar-brand titulo text-light" href="../index.html">PLAYPALOOZA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container ">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-evenly">
            <li class="nav-item">
              <a class="nav-link active text-light " aria-current="page" href="#">CATEGORIAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" data-bs-toggle="modal" data-bs-target="#loginModal" href="">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">UNETE!</a>
            </li>
          </ul>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">BUSCAR</button>
        </form>
      </div>
    </div>
  </nav>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4 mb-4">
                <img src="../assets/img/error404.png" alt="Error 404">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4 mb-4">
                <a href="../index.html" class="botonVolver btn btn-primary">VOLVER</a>
            </div>
        </div>
    </div>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username">Nombre de Usuario</label>
              <input type="text" class="form-control" id="username" placeholder="Nombre de Usuario">
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" id="password" placeholder="Contraseña">
            </div>
            <div class="text-center">
              <a href="./error404.html" type="submit" id="botonVolver" class="btn btn-primary">Ingresar</a>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>