@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.tituloPagina {
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 2rem !important;
}

body {
    background: rgb(100,32,160);
    background: linear-gradient(236deg, rgba(100,32,160,1) 0%, rgba(1,0,9,1) 100%);
}

.contacto{
    font-size: 1.3rem;
}

.botonConsulta {
    font-family: 'Pixelify Sans', sans-serif !important;
    font-size: 1.5rem !important;
}

#loginModal .modal-content {
    border-radius: 10px;
    background: linear-gradient(236deg, rgba(100,32,160,1) 0%, rgba(1,0,9,1) 100%);
    color: #fff;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

#loginModal .modal-header {
    background: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    text-align: center;
}

#loginModal .modal-body {
    padding: 20px;
}

#loginModal .form-group label {
    font-weight: bold;
    color: #fff;
}

#loginModal .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 10px;
}

#loginModal .btn-primary {
    background: linear-gradient(236deg, rgba(100,32,160,1) 0%, rgba(1,0,9,1) 100%);
    border: none;
}

#loginModal .btn-primary:hover {
    background: linear-gradient(236deg, rgba(100,32,160,1) 0%, rgba(1,0,9,1) 100%);
}

#loginModal .modal-footer {
    text-align: center;
}

#consultaModal .modal-content {
    border-radius: 10px;
    background: linear-gradient(236deg, rgba(100,32,160,1) 0%, rgba(1,0,9,1) 100%);
    color: #fff;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

#consultaModal .modal-header {
    background: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    text-align: center;
}

#consultaModal .modal-body {
    padding: 20px;
}

#consultaModal .form-group label {
    font-weight: bold;
    color: #fff;
}

#consultaModal .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 10px;
}

#consultaModal .btn-primary {
    background: linear-gradient(236deg, rgba(100,32,160,1) 0%, rgba(1,0,9,1) 100%);
    border: none;
}

#consultaModal .btn-primary:hover {
    background: linear-gradient(236deg, rgba(100,32,160,1) 0%, rgba(1,0,9,1) 100%);
}

#consultaModal .modal-footer {
    text-align: center;
}