@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.tituloPagina {
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 2rem !important;
}

.botonBuscar {
    background-color: rgba(100, 32, 160, 1);
    color: rgba(1, 0, 9, 1);
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botonBuscar:hover {
    background-color: rgb(157, 92, 214);
    color: white;
    font-weight: bolder;
}

body {
    background: rgb(100, 32, 160);
    background: linear-gradient(0deg, rgba(100, 32, 160, 1) 0%, rgba(1, 0, 9, 1) 100%);
}

.contacto {
    font-size: 1.3rem;
}

.botonConsulta {
    font-family: 'Pixelify Sans', sans-serif !important;
    font-size: 1.5rem !important;
}

#loginModal .modal-content {
    border-radius: 10px;
    background: linear-gradient(236deg, rgba(100, 32, 160, 1) 0%, rgba(1, 0, 9, 1) 100%);
    color: #fff;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

#loginModal .modal-header {
    background: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    text-align: center;
}

#loginModal .modal-body {
    padding: 20px;
}

#loginModal .form-group label {
    font-weight: bold;
    color: #fff;
}

#loginModal .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 10px;
}

#loginModal .btn-primary {
    background: linear-gradient(236deg, rgba(100, 32, 160, 1) 0%, rgba(1, 0, 9, 1) 100%);
    transition: transform 0.5s;
}

#loginModal .btn-primary:hover {
    background: linear-gradient(236deg, rgba(100, 32, 160, 1) 0%, rgba(1, 0, 9, 1) 100%);
    transform: scale(1.1);
}

.inputLogin::placeholder {
    color: lightgray !important;
}

#consultaModal .modal-content {
    border-radius: 10px;
    background: linear-gradient(236deg, rgba(100, 32, 160, 1) 0%, rgba(1, 0, 9, 1) 100%);
    color: #fff;
    max-width: AUTO;
    max-height: AUTO;
    margin: 0 auto;
}

#consultaModal .modal-header {
    background: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    text-align: center;
}

#consultaModal .modal-body {
    padding: 20px;
}

#consultaModal .form-group label {
    font-weight: bold;
    color: #fff;
}

#consultaModal .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 10px;
}

#consultaModal .btn-primary {
    background: linear-gradient(236deg, rgba(100, 32, 160, 1) 0%, rgba(1, 0, 9, 1) 100%);
    border: none;
}

#consultaModal .btn-primary:hover {
    background: linear-gradient(236deg, rgba(100, 32, 160, 1) 0%, rgba(1, 0, 9, 1) 100%);
}

#consultaModal .modal-footer {
    text-align: center;
}

.inputConsulta {
    resize: none;
}

.embed-responsive-16by9 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-responsive-16by9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .contacto .row .col-md-6 img {
        display: none;
    }
}