@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#loginModal .modal-content {
    border-radius: 10px;
    background: linear-gradient(rgba(100, 32, 160, 1), rgba(1, 0, 9, 1));
    color: #fff;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

#loginModal .modal-header {
    background: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    text-align: center;
}

#loginModal .modal-body {
    padding: 20px;
}

#loginModal .form-group label {
    font-weight: bold;
    color: #fff;
}

#loginModal .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 10px;
}

#loginModal .btn-primary {
    background: linear-gradient(rgba(100, 32, 160, 1), rgba(1, 0, 9, 1));
    border: none;
}

#loginModal .btn-primary:hover {
    background: linear-gradient(rgba(1, 0, 9, 1), rgba(100, 32, 160, 1));
}

#loginModal .modal-footer {
    text-align: center;
}

.inputLogin::placeholder {
    color: white !important;
}

 /* =========================================================================== */
/* AGREGADO DE ESTILOS AL BODY Y LA PAG PPAL */
body {
    background: rgb(100, 32, 160);
    background: linear-gradient(0deg, rgba(100, 32, 160, 1) 0%, rgba(1, 0, 9, 1) 100%);
}

#carouselExampleAutoplaying {
    width: 100%;
    max-width: 800px !important;
    margin: auto;
    top: 50%;
    transform: TranslateY(10%);
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: TranslateY(60%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#carouselExampleCaptions, #carouselExampleCaptions2, #carouselExampleCaptions3 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

#titles {
    color: #fff;



}