@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.tituloPagina {
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 2rem !important;
}

#loginModal .modal-content {
    border-radius: 10px;
    background: linear-gradient(rgba(100, 32, 160, 1), rgba(1, 0, 9, 1));
    color: #fff;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

#loginModal .modal-header {
    background: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    text-align: center;
}

#loginModal .modal-body {
    padding: 20px;
}

#loginModal .form-group label {
    font-weight: bold;
    color: #fff;
}

#loginModal .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 10px;
}

#loginModal .btn-primary {
    background: linear-gradient(rgba(100, 32, 160, 1), rgba(1, 0, 9, 1));
    border: none;
}

#loginModal .btn-primary:hover {
    background: linear-gradient(rgba(1, 0, 9, 1), rgba(100, 32, 160, 1));
}

#loginModal .modal-footer {
    text-align: center;
}

.inputLogin::placeholder {
    color: white !important;
}

 /* =========================================================================== */
/* AGREGADO DE ESTILOS AL BODY Y LA PAG PPAL */
body {
    background: rgb(100, 32, 160);
    background: linear-gradient(0deg, rgba(100, 32, 160, 1) 0%, rgba(1, 0, 9, 1) 100%);
}

#carouselExampleAutoplaying {
    width: 100%;
    max-width: 800px !important;
    margin: auto;
    top: 50%;
    transform: TranslateY(10%);
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: TranslateY(60%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#carouselExampleCaptions, #carouselExampleCaptions2, #carouselExampleCaptions3 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

#carouselExampleCaptions .carousel-inner, #carouselExampleCaptions2 .carousel-inner, #carouselExampleCaptions3 {
    animation-name: luces;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes luces {
    from{
        box-shadow: 4px 4px 20px rgb(228, 176, 228);
    }
    to{
        box-shadow: 4px 4px 20px violet;

    }
}

#titles {
    color: #fff;
}

/* ESTILO DE LISTA MULTICARD */
#carouselListaMultiple .carousel-inner .carousel-item.active,
#carouselListaMultiple .carousel-inner .carousel-item-next,
#carouselListaMultiple .carousel-inner .carousel-item-prev{
    display: flex;
}

@media (min-width: 768px) {
    #carouselListaMultiple .carousel-inner .carousel-item-end.active,
    #carouselListaMultiple .carousel-inner .carousel-item-next{
        transform: translateX(25%);
    }

    #carouselListaMultiple .carousel-inner .carousel-item-start.active,
    #carouselListaMultiple .carousel-inner .carousel-item-prev{
        transform: translateX(-25%);
    }

    /* BOTONES */
    /* .carousel-control-prev#carouselListaMultiple{ SOLUCIONAR
        position: relative !important;
        right: 150px !important;
    } */
    
    /* .carousel-control-next#carouselListaMultiple{ 
        position: relative !important;
        left: 150px !important;
    } */
}

#carouselListaMultiple .carousel-inner .carousel-item-end,
#carouselListaMultiple .carousel-inner .carousel-item-start{
    transform: translateX(0);
}

@media (max-width:767px){
    #carouselListaMultiple .carousel-inner .carousel-item>div{ /*uso del combinador de hijo*/
        display: none; /*que no se muestren multiples categorias*/
    }
    #carouselListaMultiple .carousel-inner .carousel-item>div:first-child{ /*uso de la pseudoclase; Representa el primer elemento entre un grupo de elementos hermanos*/
        display: block; /*se muestran de a una las categorias en dispositivos pequeños*/
    }

    /* BOTONES */
}

.carousel#carouselListaMultiple{
    width: 100%;
    padding: 100px;
}

.carousel#carouselListaMultiple .card{
    margin: 10px;
    box-shadow: 2px 4px 20px;
    transition: 100ms linear;
}

.carousel#carouselListaMultiple .card:hover{
    transform: scale(103%);
    box-shadow: 3px 3px 20px violet;
}